.post-meta {
    font-size: 0.9rem;
    color: #555;
    padding-bottom: 0.5rem;
    margin-bottom: 0.8rem;
    border-bottom: 1px solid #e0e0e0;
}

.post-meta .author {
    font-weight: 600;
    color: #000;
}

.post-meta .category {
    font-style: italic;
    color: #007bff;
    /* Bootstrap синий */
}


.card:hover {
    transform: translateY(-4px);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}


.card h3,
.card h5 {
    color: #111;
}


.card p {
    color: #333;
}


.btn-outline-primary {
    border-width: 2px;
}