{% extends 'base.html.twig' %}

{% block title %}Comments index{% endblock %}

{% block body %}
<div class="background-image d-flex justify-content-center align-items-start pt-5">
<div class="container bg-light bg-opacity-75 rounded p-4 shadow">
    <div class="col d-flex justify-content-between align-items-center mb-3">
        <h1>Comments index</h1>
    </div>
    <div class="responsive-table">
        <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Comment_text</th>
                <th>Created_at_comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td data-label="Id">{{ comment.id }}</td>
                <td data-label="Commentaire">{{ comment.commentText }}</td>
                <td data-label="Date">{{ comment.createdAtComment ? comment.createdAtComment|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_comments_show', {'id': comment.id}) }}" class="btn btn-sm btn-secondary w-100 mb-1">Détails</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

</div>
</div>
{% endblock %}
